@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
   
  }
  
  body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    display: flex;
  }

  .hidden{
    display: none;
  }
  
  .header {
    text-align: justify;
    padding-left: 35%;
    position: absolute;
    width: 100%;
    background-color: lightblue;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 65%,
      rgba(0, 0, 0, 0.55) 100%
    );
    z-index: -10;
  }
  
  .header h1 {
    padding-top: 5%;
  }
  .header h2 {
    padding-top: 2%;
  }
  
  .header h3 {
    padding-top: 2%;
  }
  
  .cover{
     margin-top: 5%; 
      display: inline-flex;
      flex-direction: column;
      margin-left: 15%;
      z-index: 1;
      height: 50%;
  }
  
  .cover img{
    margin-top: 45%;
  }
  
  
  .cover button{
      margin-top: 5%;
      color: #fff;
      background-color: #9147ff;
      border-color: #9147ff;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      padding: 3%;
      border-radius: 4px;
  }
  
  .cover p{
      padding-top: 3%;
      text-align: center;
  }
  
  .gameDetails{
      width: 60%;
      margin-top: 16.3%;
      position: fixed;

  }
  .components{
  
      position: fixed;
      border-bottom: inset;
      background-color: lightgray;
      width: 40%;
  }
 
  .components ul li{
      display: inline-flex;
      border-bottom: groove;
      border-color: transparent;
      padding-inline: 3%;
      
  }
  
  .components ul li:hover{
  border-bottom: groove;
   border-color: darkblue;
  
   cursor: pointer;
  }
  
  .contenido{
/*       margin-left: 5%;
      margin-top: 7%; */
      width: 68%;
  margin-left: 2%;

  }
  
  .contenido p{
      padding: 1%;
  }

  .contpluspie{
    display: flex;
    flex-direction: row;
  }

.semi-donut{
  color: black;
  font-weight: bold;
  text-align: center;
  padding-left: 3%;
  width: 100px;
  height: 100px;
  margin-top: 10.7%;
  margin-left: 45%;
  position: fixed;
  color: fff;
  font-size: 20px;
  display: flex;
  align-items:flex-end;
/*   justify-content: center; */
  box-sizing: border-box;
  --percentage: 0;
  --fill: green
}

.semi-donut:after{
  content: '';
  position: absolute;
  left: 0;
  top:0;
  width: 150px;
  height: 150px;
  border: 10px solid;
  border-color: transparent var(--fill) var(--fill) var(--fill);
  border-radius: 50%;
  transform: rotate( calc(1deg * (-45 + var(--percentage) * 1.9)));
  animation: mypie 1s ease-in;
}

@keyframes mypie{
  0%{transform: translateX( 0%)}
 
  50%{transform: translateX(100%)}
}

.addTo{
  margin-top: 4.2%;
  margin-left: 2%;
}

.addTo button{
  margin-top: 1%;
  color: #fff;
  background-color: #9147ff;
  border-color: #9147ff;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  padding: 1%;
}
.buttons{
  margin-top: 4.2%;
  margin-left: 2%;

}
.facebook{
  color: white;
  background-color: blue;
  font-weight: bold;
  padding: 1%;
  border-radius: 10%;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1%;
  cursor: pointer;
}

.facebook span{
 color: black;
}


.instagram{
  cursor: pointer;
    color: white;
    background-color: #e1306c;
    font-weight: bold;
    padding: 1%;
    border-radius: 10%;
    font-family: 'Poppins', sans-serif;
}

.twitter{
  cursor: pointer;
  color: white;
  background-color: #46C1F6;
  font-weight: bold;
  padding: 1%;
  border-radius: 10%;
  font-family: 'Poppins', sans-serif;
}

link{
  padding-top: 1%;
  display: inline-flex;
  padding-inline: 0;
}


.link span{
  background-color: grey;
}
.bloques{
  display: flex;
  flex-direction: column;
}
.block1{
 /*  margin-top: 20%; */
  margin-left: 45%;
  display: flex;
  flex-direction: row;
}
.block2{
  margin-top: 10%;
  margin-left: 10%;
}
.games{
  display: flex;
  flex-direction: row;

}
.game{
  margin: 2%;
  width: 100px;
  height: 50px;
  background-color: red;
  padding: 1%;
}