/**maxwidth es eso o menos**/
.botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.botonera.active {
  opacity: 0.2;
  pointer-events: none;
}

.botonera .selector {
  padding: 1%;
  margin-left: 1%;
  border-color: crimson;
  cursor: pointer;
  border-width: medium;
  font-weight: bold;
}

.botonera .selector:hover {
  background-color: orange;
}

@media (max-width: 770px) {
  .botonera .selector {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .botonera .selector {
    font-size: 12px;
  }
}

.botonera button {
  margin-left: 2%;
  display: hidden;
  padding: 1%;
  border-color: crimson;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 770px) {
  .botonera button {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .botonera button {
    font-size: 12px;
  }
}

.botonera button:hover {
  background-color: orange;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border: 4px solid #c53030;
  z-index: 10;
  background-color: black;
  width: 500px;
  max-width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
  color: white;
  font-weight: bold;
}

.modal p {
  border: double;
  padding: 2%;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.modal p:hover {
  background-color: orange;
  color: black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modalRating {
  /*       display: flex;
      flex-direction: row; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 20%;
  left: 5%;
  -webkit-transform: -50%, -50% scale(1);
          transform: -50%, -50% scale(1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-animation: drop 0.7s ease forwards;
          animation: drop 0.7s ease forwards;
  border: 4px solid white;
  z-index: 10;
  background-color: whitesmoke;
  width: 700px;
  max-width: 80%;
  height: 400px;
  color: black;
  font-weight: bold;
}

@-webkit-keyframes drop {
  100% {
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
}

@keyframes drop {
  100% {
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
}

@media (max-width: 390px) {
  @-webkit-keyframes drop {
    100% {
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
    }
  }
  @keyframes drop {
    100% {
      -webkit-transform: translateY(10%);
              transform: translateY(10%);
    }
  }
}

.modalRating p {
  text-align: center;
}

.modalRating .pie {
  margin-top: 10%;
  margin-left: 7%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
  height: 50px;
  color: black;
  position: relative;
  font-size: 15px;
  /*  display: flex; */
  /*  margin: 10px; */
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  --percentage: 0;
  --fill: #00f;
}

.modalRating .pie:after {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border: 10px solid;
  border-color: #000 #000 var(--fill) var(--fill);
  border-radius: 50%;
  -webkit-transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
          transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
}

.modalRating:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, orange), color-stop(30%, white));
  background: linear-gradient(orange 20%, white 30%);
}

.modal-header {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  color: black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .closeB {
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

body {
  background: url("../background.jpg") no-repeat center/cover;
  /*   height: 100%;
    width: 100%; */
  color: white;
}

body:before {
  content: "";
  background: url("../background.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 390px) {
  .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 770px) {
  .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainContainer .ratings {
  -webkit-box-shadow: #b47380;
          box-shadow: #b47380;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, orange), color-stop(40%, black));
  background: linear-gradient(orange 20%, black 40%);
  height: 300px;
  padding: 1.5%;
  text-align: center;
}

.mainContainer .ratings:hover {
  -webkit-transition: background-color 10s;
  transition: background-color 10s;
  -webkit-animation: rgbanim 1s forwards;
          animation: rgbanim 1s forwards;
}

@-webkit-keyframes rgbanim {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, orange), color-stop(40%, black));
    background: linear-gradient(orange 20%, black 40%);
  }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, orange), color-stop(40%, black));
    background: linear-gradient(orange 25%, black 40%);
  }
  15% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, orange), color-stop(40%, black));
    background: linear-gradient(orange 30%, black 40%);
  }
  20% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, orange), color-stop(40%, black));
    background: linear-gradient(orange 35%, black 40%);
  }
  30% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, orange), color-stop(55%, black));
    background: linear-gradient(orange 45%, black 55%);
  }
}

@keyframes rgbanim {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, orange), color-stop(40%, black));
    background: linear-gradient(orange 20%, black 40%);
  }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, orange), color-stop(40%, black));
    background: linear-gradient(orange 25%, black 40%);
  }
  15% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, orange), color-stop(40%, black));
    background: linear-gradient(orange 30%, black 40%);
  }
  20% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, orange), color-stop(40%, black));
    background: linear-gradient(orange 35%, black 40%);
  }
  30% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, orange), color-stop(55%, black));
    background: linear-gradient(orange 45%, black 55%);
  }
}

.mainContainer .ratings button {
  color: White;
  background-color: blue;
  padding: 3%;
  border-color: blue;
}

.mainContainer .ratings button:hover {
  color: gold;
  border-color: red;
  cursor: pointer;
}

@media (max-width: 770px) {
  .mainContainer .ratings {
    width: 500px;
    height: 250px;
    font-size: 25px;
  }
}

@media (max-width: 390px) {
  .mainContainer .ratings {
    width: 300px;
    height: 250px;
    font-size: 20px;
  }
}

.mainContainer .ratings h2 {
  border: double;
  font-size: 20px;
}

.mainContainer .shop {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*     border: double;
    border-color: crimson; */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, orange), color-stop(30%, black));
  background: linear-gradient(orange 20%, black 30%);
  height: 300px;
  padding: 1.5%;
}

.mainContainer .shop:hover {
  -webkit-transition: background-color 10s;
  transition: background-color 10s;
  -webkit-animation: rgbanim 1s forwards;
          animation: rgbanim 1s forwards;
  /* animation: drop 0.7s ease forwards; */
}

@keyframes rgbanim {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, orange), color-stop(40%, black));
    background: linear-gradient(orange 20%, black 40%);
  }
  10% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, orange), color-stop(40%, black));
    background: linear-gradient(orange 25%, black 40%);
  }
  15% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, orange), color-stop(40%, black));
    background: linear-gradient(orange 30%, black 40%);
  }
  20% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, orange), color-stop(40%, black));
    background: linear-gradient(orange 35%, black 40%);
  }
  30% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, orange), color-stop(55%, black));
    background: linear-gradient(orange 45%, black 55%);
  }
}

.mainContainer .shop .btnUnit button {
  cursor: pointer;
}

@media (max-width: 770px) {
  .mainContainer .shop {
    width: 500px;
    height: 300px;
  }
  .mainContainer .shop .price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainer .shop .btnUnit {
    margin-left: 40%;
  }
}

@media (max-width: 390px) {
  .mainContainer .shop {
    margin-top: 2%;
    width: 300px;
    height: 300px;
  }
  .mainContainer .shop .price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainer .shop .btnUnit {
    margin-left: 40%;
  }
}

.mainContainer .shop h2 {
  border: double;
  font-size: 20px;
}

.mainContainer .cuerpo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 770px) {
  .mainContainer .cuerpo {
    margin-top: 3%;
  }
}

.mainContainer .cuerpo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainContainer .cuerpo ul.slider {
  position: relative;
  width: 500px;
  height: 300px;
}

@media (max-width: 390px) {
  .mainContainer .cuerpo ul.slider {
    margin-top: 3%;
    width: 300px;
    height: 100px;
  }
}

.mainContainer .cuerpo ul.slider li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: white;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.mainContainer .cuerpo ul.slider li:first-child {
  opacity: 1;
}

.mainContainer .cuerpo ul.slider li:target {
  opacity: 1;
}

.mainContainer .cuerpo ul.slider li:hover {
  border-color: gold;
}

.mainContainer .cuerpo ul.slider li img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainContainer .cuerpo ul.slider li img:hover {
  border-color: gold;
  opacity: 0.8;
  /*          transform: scale(0.8);  */
}

.mainContainer .cuerpo ul.menu {
  text-align: center;
  margin: 20px;
}

@media (max-width: 390px) {
  .mainContainer .cuerpo ul.menu {
    margin-top: 70%;
  }
}

.mainContainer .cuerpo ul.menu li {
  display: inline-block;
  text-align: center;
}

.mainContainer .cuerpo ul.menu li a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  height: 1%;
  font-size: 20px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .cuerpo ul.menu li a img {
  height: 50%;
  width: 50%;
  border: double;
  border-color: transparent;
}

.mainContainer .cuerpo ul.menu li a :hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: double;
  border-radius: 50%;
  border-color: gold;
}

.mainContainer .cuerpo ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainContainer .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 770px) {
  .mainContainer .price {
    font-size: 30px;
    height: 2%;
  }
}

.mainContainer .price .priceEur {
  margin-left: 5%;
}

.mainContainer .btnUnit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mainContainer .btnUnit button {
  background-color: blue;
  color: white;
  border-radius: 50%;
  border-color: blue;
  margin: 5%;
}

.mainContainer .btnUnit button:hover {
  border-color: gold;
}

@media (max-width: 770px) {
  .mainContainer .btnUnit {
    height: 9%;
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .mainContainer .btnUnit {
    height: 9%;
    font-size: 20px;
    margin-top: 30%;
  }
}

.mainContainer .units {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 2%;
}

@media (max-width: 770px) {
  .mainContainer .units {
    font-size: 40px;
    height: 2%;
  }
}

@media (max-width: 390px) {
  .mainContainer .units {
    font-size: 20px;
    height: 2%;
  }
}

.mainContainer .units h5 {
  margin-left: 6%;
}

.mainContainer .finalPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 770px) {
  .mainContainer .finalPrice {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
  }
}

@media (max-width: 390px) {
  .mainContainer .finalPrice {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
  }
}

.mainContainer .finalPrice h5 {
  margin-left: 5%;
}

.mainContainer .btonPrices button {
  font-size: 15px;
  color: White;
  background-color: blue;
  padding: 3%;
  border-color: blue;
}

.mainContainer .btonPrices button:hover {
  color: gold;
  border-color: red;
  cursor: pointer;
}

@media (max-width: 770px) {
  .mainContainer .btonPrices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainer .btonPrices button {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .mainContainer .btonPrices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainer .btonPrices button {
    font-size: 15px;
    color: White;
    background-color: blue;
    padding: 3%;
    border-color: blue;
  }
  .mainContainer .btonPrices button:hover {
    color: gold;
    border-color: red;
  }
}
/*# sourceMappingURL=styles.css.map */